<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
  .b2{
    background: navy;
    color: white;
    font-size: 9pt;
  }
</style>
</head>
<body>
<form th:method="POST" th:action="@{/admin}" th:object="${user}">
  <label for="name">Enter name: </label>
  <input type="text" th:field="*{name}" id="name"/>
  <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
  <br/>
  <label for="surname">Enter surname: </label>
  <input type="text" th:field="*{surname}" id="surname"/>
  <div style="color:red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname Error</div>
  <br/>
  <label for="age">Enter age: </label>
  <input type="text" th:field="*{age}" id="age"/>
  <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</div>
  <br/>
  <label for="email">Enter email: </label>
  <input type="text" th:field="*{email}" id="email"/>
  <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
  <br/>
  <label for="password">Enter password: </label>
  <input type="text" th:field="*{password}" id="password"/>
  <br/>
  <label>Role:
    <select multiple="multiple" name="role" required="required">
      <option value="3">ADMIN</option>
      <option selected value="4">USER</option>
    </select>
    <br/>
    <br/>
    <input type="submit" th:class="b2" value="Create"/>
  </label>
</form>
<br>
<form th:method="GET" th:action="@{/admin}">
  <input type="submit" th:class="b2" value="Main menu">
</form>
<br/>
<form th:method="GET" th:action="@{/logout}">
  <input type="submit" th:class="b3" value="Logout">
</form>
<br/>
</body>
</html>