<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>User table</title>
    <style>
        .b1 {
            background: red;
            color: white;
            font-size: 9pt;
        }

        .b2 {
            background: navy;
            color: white;
            font-size: 9pt;
        }
    </style>
</head>
<body>
<h2>User:</h2>
<div>Name:</div>
<div th:text="${user.name}"></div>
<br>
<div>Surname:</div>
<div th:text="${user.surname}"></div>
<br>
<div>Age:</div>
<div th:text="${user.age}"></div>
<br>
<div>Email:</div>
<div th:text="${user.email}"></div>
<br/>
<form sec:authorize="hasRole('ROLE_ADMIN')" th:method="DELETE" th:action="@{/admin/{id}(id=${user.id})}">
    <input type="submit" class="b1" value="Delete">
</form>
<br/>
<form sec:authorize="hasRole('ROLE_ADMIN')" th:method="GET" th:action="@{/admin/{id}/edit(id=${user.id})}">
    <input type="submit" class="b2" value="Edit">
</form>
<br/>
<form sec:authorize="hasRole('ROLE_ADMIN')" th:method="GET" th:action="@{/admin}">
    <input type="submit" th:class="b2" value="Main menu">
</form>
<br/>
<form th:method="GET" th:action="@{/logout}">
    <input type="submit" th:class="b2" value="Logout">
</form>
<br/>

</form>
</body>
</html>